{% extends 'main_page/base.html' %}

{% block content %}
<main class="content post_style">
    <section class="wrap_post">
        {% if city.image %}
        <img class="preview_img" src="{{ city.image.url }}" alt="post_image">
        {% endif %}
        <h1 class="wrap">{{ city.title }}</h1>
        <h2>Схема и линий:</h2>
        <div class="scheme_line">
            <ul class="vertical_list">
                {% for line in lines %}
                    {% if line.city == city %}
                        <li class="element color_hover" style="box-shadow: 0px 2px 12px 2px {{ line.color }}; --ch:{{ line.color }};">
                            <a href="{{ line.get_absolute_url }}">
                                <div class="circle_line" style="background: {{ line.color }};">
                                    <p style="color: {{ line.color_text }};">{{ line.number }}</p>
                                </div>
                                <h2 style="--cth:{{ line.color_text }};">{{ line.title | truncatechars:50 }}</h2>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <img class="scheme" src="{{ city.image.url }}" alt="schem">
        </div>
        <div class="wrap_text">
            <h2> Информация о метрополитене:</h2>
            <p>{{ city.content | safe | linebreaksbr }}</p>
        </div>
    </section>
</main>
{% endblock %}