{% extends 'main_page/base.html' %}
{% load static %}

{% block content %}
<main class="content">
    <section class="wrap_post">
        {% if station.image %}
        <img class="preview_img" src="{{ station.image.url }}" alt="post_image">
        {% endif %}
        <div class="station_nav" style="background: {{ station.line.color }}">
            <a href="{{ station.line.city.get_absolute_url }}">
                <span style="color: {{ station.line.color_text }}; background: {{ station.line.color }}">{{ station.line.city.title }}</span>
            </a>
            <a href="{{ station.line.get_absolute_url }}">
                <span style="color: {{ station.line.color_text }}; background: {{ station.line.color }}">{{ station.line.title }}</span>
            </a>
        </div>
        <ul class="vertical_stations_list">
            {% for st in station_list %}
            {% if st.line == station.line %}
            <li class="element">
                <a class="line_link_image" href="{{ st.get_absolute_url }}">
                    {% if st.path_direction == 'Основной путь' %}
                    <svg width="110" height="110" xmlns="http://www.w3.org/2000/svg">
                        <!-- Created with SVG Editor - http://github.com/mzalive/SVG Editor/ -->
                        <g>
                            <rect x="-1" y="-1" width="36.37497" height="36.37497" id="canvas_background" fill="none"/>
                            <g id="canvasGrid" display="none">
                                <rect id="svg_3" width="100%" height="100%" x="0" y="0" stroke-width="0"
                                      fill="url(#gridpattern)"/>
                            </g>
                        </g>
                        <g>
                            {% if st.prev_path == 'Эксплуатируется'%}
                            <rect id="svg_1" height="55" width="20" y="0" x="15" stroke-width="0" stroke="#000"
                                  fill="{{ st.line.color }}"/>
                            {% elif st.prev_path == 'Строится' %}
                            <rect id="svg_1" height="55" width="20" y="0" x="15" stroke-width="0" stroke="#000"
                                  fill="{{ st.line.color }}80"/>
                            {% endif %}
                            {% if st.next_path == 'Эксплуатируется'%}
                            <rect id="svg_2" height="55" width="20" y="55" x="15" stroke-width="0" stroke="#000"
                                  fill="{{ st.line.color }}"/>
                            {% elif st.next_path == 'Строится' %}
                            <rect id="svg_2" height="55" width="20" y="55" x="15" stroke-width="0" stroke="#000"
                                  fill="{{ st.line.color }}80"/>
                            {% endif %}
                            <ellipse ry="20" rx="20" id="svg_3" cy="55" cx="25" stroke-width="0" stroke="#000"
                                     fill="#ffffff"/>
                            {% if st.status == 'Эксплуатируется'%}
                            <ellipse ry="18" rx="18" id="svg_5" cy="55" cx="25" stroke-width="0" stroke="#000"
                                     fill="{{ st.line.color }}"/>
                            {% else %}
                            <ellipse ry="18" rx="18" id="svg_5" cy="55" cx="25" stroke-width="0" stroke="#000"
                                     fill="{{ st.line.color }}80"/>
                            {% endif %}
                            <ellipse ry="9" rx="9" id="svg_6" cy="55" cx="25" stroke-width="0" stroke="#000"
                                     fill="#ffffff"/>
                        </g>
                    </svg>
                    {% elif st.path_direction == 'Ответвление' %}
                    <svg width="110" height="110" xmlns="http://www.w3.org/2000/svg">
                        <!-- Created with SVG Editor - http://github.com/mzalive/SVG Editor/ -->

                        <g>
                            <title>background</title>
                            <rect x="-1" y="-1" width="36.37497" height="36.37497" id="canvas_background" fill="none"/>
                            <g id="canvasGrid" display="none">
                                <rect id="svg_3" width="100%" height="100%" x="0" y="0" stroke-width="0"
                                      fill="url(#gridpattern)"/>
                            </g>
                        </g>
                        <g>
                            <title>Layer 1</title>
                            <rect fill="{{ st.line.color }}" stroke="#000" stroke-width="0" x="15" y="0" width="20"
                                  height="55"
                                  id="svg_1"/>
                            <rect fill="{{ st.line.color }}" stroke="#000" stroke-width="0" x="15" y="55" width="20"
                                  height="55"
                                  id="svg_2"/>
                            {% if st.prev_path == 'Эксплуатируется'%}
                            <rect id="svg_4" height="55" width="20" y="0" x="60.84615" stroke-width="0" stroke="#000"
                                  fill="{{ st.line.color }}"/>
                            {% elif st.prev_path == 'Строится' %}
                            <rect id="svg_4" height="55" width="20" y="0" x="60.84615" stroke-width="0" stroke="#000"
                                  fill="{{ st.line.color }}80"/>
                            {% endif %}
                            {% if st.next_path == 'Эксплуатируется'%}
                            <rect id="svg_8" height="55" width="20" y="55" x="60.84615" stroke-width="0" stroke="#000"
                                  fill="{{ st.line.color }}"/>
                            {% elif st.next_path == 'Строится' %}
                            <rect id="svg_8" height="55" width="20" y="55" x="60.84615" stroke-width="0" stroke="#000"
                                  fill="{{ st.line.color }}80"/>
                            {% endif %}
                            <ellipse ry="20" rx="20" id="svg_10" cy="55" cx="70.84615" stroke-width="0" stroke="#000"
                                     fill="#ffffff"/>
                            {% if st.status == 'Эксплуатируется'%}
                            <ellipse ry="18" rx="18" id="svg_10" cy="55" cx="70.84615" stroke-width="0" stroke="#000"
                                     fill="{{ st.line.color }}"/>
                            {% else %}
                            <ellipse ry="18" rx="18" id="svg_10" cy="55" cx="70.84615" stroke-width="0" stroke="#000"
                                     fill="{{ st.line.color }}80"/>
                            {% endif %}
                            <ellipse ry="9" rx="9" id="svg_11" cy="55" cx="70.84615" stroke-width="0" stroke="#000"
                                     fill="#ffffff"/>
                        </g>
                    </svg>
                    {% else %}
                    <svg width="110" height="110" xmlns="http://www.w3.org/2000/svg">
                        <!-- Created with SVG Editor - http://github.com/mzalive/SVG Editor/ -->

                        <g>
                            <title>background</title>
                            <rect x="-1" y="-1" width="112" height="112" id="canvas_background" fill="none"/>
                            <g id="canvasGrid" display="none">
                                <rect id="svg_3" width="100%" height="100%" x="0" y="0" stroke-width="0"
                                      fill="url(#gridpattern)"/>
                            </g>
                        </g>
                        <g>
                            <title>Layer 1</title>
                            {% if st.prev_path == 'Эксплуатируется'%}
                            <rect id="svg_1" height="55" width="20" y="0" x="15" stroke-width="0" stroke="#000"
                                  fill="{{ st.line.color }}"/>
                            {% elif st.prev_path == 'Строится' %}
                            <rect id="svg_1" height="55" width="20" y="0" x="15" stroke-width="0" stroke="#000"
                                  fill="{{ st.line.color }}80"/>
                            {% endif %}
                            {% if st.next_path == 'Эксплуатируется'%}
                            <rect id="svg_2" height="55" width="20" y="55" x="15" stroke-width="0" stroke="#000"
                                  fill="{{ st.line.color }}"/>
                            {% elif st.next_path == 'Строится' %}
                            <rect id="svg_2" height="55" width="20" y="55" x="15" stroke-width="0" stroke="#000"
                                  fill="{{ st.line.color }}80"/>
                            {% endif %}

                            {% if st.path_direction == 'Начало ответвления'%}
                            <ellipse stroke="#000" fill="{{ st.line.color }}" stroke-width="0" stroke-opacity="null"
                                     cx="69.99999"
                                     cy="95.9726" id="svg_12" rx="10.46874" ry="11.09374"/>
                            <rect id="svg_12" height="55" width="20" y="98.25066" x="60.84615" stroke-width="0"
                                  stroke="#000"
                                  fill="{{ st.line.color }}"/>
                            <rect fill="{{ st.line.color }}" stroke-width="0" stroke-opacity="null" x="14.21764"
                                  y="62.71176"
                                  width="63.75219" height="20" id="svg_7"
                                  transform="rotate(45 46.09373092651368,77.05960083007814) " stroke="#000"/>
                            {% endif %}

                            {% if st.path_direction == 'Конец ответвления'%}
                            <rect fill="{{ st.line.color }}" stroke-width="0" stroke-opacity="null" x="15.0872"
                                  y="31.69733"
                                  width="63.75219" height="20" id="svg_14"
                                  transform="rotate(-45 46.96329879760741,41.69717407226562) " stroke="#000"/>
                            <ellipse stroke="#000" fill="{{ st.line.color }}" stroke-width="0" stroke-opacity="null"
                                     cx="69.99999"
                                     cy="17.47825" id="svg_17" rx="10.46874" ry="11.09374"/>
                            <rect id="svg_4" height="27.52038" width="20" y="-8.11591" x="60.84615" stroke-width="0"
                                  stroke="#000"
                                  fill="{{ st.line.color }}"/>
                            {% endif %}

                            <ellipse fill="#ffffff" stroke="#000" stroke-width="0" cx="25.38461" cy="55" id="svg_6"
                                     rx="20" ry="20"/>
                            {% if st.status == 'Эксплуатируется'%}
                            <ellipse ry="18" rx="18" id="svg_5" cy="55" cx="25" stroke-width="0" stroke="#000"
                                     fill="{{ st.line.color }}"/>
                            {% else %}
                            <ellipse ry="18" rx="18" id="svg_5" cy="55" cx="25" stroke-width="0" stroke="#000"
                                     fill="{{ st.line.color }}80"/>
                            {% endif %}
                            <ellipse fill="#ffffff" stroke="#000" stroke-width="0" cx="25.38461" cy="55" id="svg_11"
                                     rx="9" ry="9"/>
                        </g>
                    </svg>
                    {% endif %}
                    {% if st.image %}
                    <img class="station_img" src="{{ st.image.url }}" alt="{{ st.title }}">
                    {% else %}
                    <img class="station_img" src="{% static 'images/plug.jpg' %}" alt="post_image">
                    {% endif %}
                </a>

                <div class="vertical_stations_info_block">
                    <a class="line_link_text" href="{{ st.get_absolute_url }}">
                        <div class="station_text">
                            <h2 class="list_title">{{ st.title | truncatechars:50 }}</h2>
                            <p>Соостояние: {{ st.status }}</p>
                        </div>
                    </a>
                    <ul class="trans_list">
                        {% for tr in st.transfer.all %}
                        <li>
                            <a href="{{ tr.get_absolute_url }}">
                                <div class="transfer_line transfer_hover"
                                     style="background:{{ tr.line.color }}; --th:{{ tr.line.color }}80;">
                                    <span style="color:{{ tr.line.color_text }};">{{ tr.line.number }}</span>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <div class="wrap_text">
            <h1>{{ station.title }}</h1>
            <p>{{ station.content | safe | linebreaksbr }}</p>
        </div>
    </section>
</main>
{% endblock %}