.form-style{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


p label, .file_wrap label{
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #4388e4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.form-input{
    width: 100%;
    border: 3px solid transparent;
    border-bottom: 3px solid #4388e4;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;
    background-color: #F5F5F5;
    color: #4388e4;
    font-weight: bold;
}

.form-input[type="file"]{
    width: fit-content;
    margin: 8px auto;
    background-color: transparent;
    border-bottom: 3px solid transparent;
}

.form-input[type="file"]:hover {
    color: #4388e480;
}


.form-input[type="text"]:link, .form-input[type="text"]:hover, .form-input[type="text"]:active, .form-input[type="text"]:focus,
.form-input[type="password"]:link, .form-input[type="password"]:hover, .form-input[type="password"]:active, .form-input[type="password"]:focus,
.form-input[type="email"]:link, .form-input[type="email"]:hover, .form-input[type="email"]:active, .form-input[type="email"]:focus{
    animation: 500ms ease-in-out forwards animation-form;
}
  
  @keyframes animation-form {
    0% {
        border: 3px solid transparent;
        border-bottom: 3px solid #4388e4;
        border-radius: 10px;
    }
  
    100% {
        border: 3px solid #4388e4;
        border-radius: 0;
    }
}

.form-error{
    background-color: #FF000080;
    color: #000000aa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    margin-top: -30px;
    margin-bottom: 20px;
    text-align: center;
}

.form-error ul, .form-error ul li{
    padding: 0;
    margin: 0;
}

.public_button input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.public_button input+.public_button label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
.public_button input+.public_button label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

#id_trains, #id_city, #id_lines{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#id_trains div, #id_city div, #id_lines div{
    width: 30%;
    margin: 2px 0;
    padding: 0 10px;
    border-left: 5px solid #4388e4;
    border-right: 5px solid #4388e4;
}

#id_trains div label, #id_city div label, #id_lines div label{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#id_trains div input, #id_city div input, #id_lines div input{
    width: 20px;
}

#id_status, #id_prev_path, #id_next_path{
    width: 100%;
}

#id_transfer div label input, #id_line div label input{
    width: 20px;
}

#id_transfer div label, #id_line div label{
    display: block;
}

#id_transfer div, #id_line div{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    box-shadow: 2px 2px 12px 2px #4388e4;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

#id_transfer, #id_line{
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
}

#id_transfer div:hover {
    background-color: #4388e4;
    color: #fff;
}