.form-style{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


p label, .file_wrap label, .input-file-container-main-form .form-label{
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #4388e4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.input-file-container-main-form .form-label{
    margin: 20px;
}

.form-input{
    width: 100%;
    border: 3px solid transparent;
    border-bottom: 3px solid #4388e4;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;
    background-color: #F5F5F5;
    color: #4388e4;
    font-weight: bold;
}

.form-input[type="file"]{
    width: fit-content;
    margin: 8px auto;
    background-color: transparent;
    border-bottom: 3px solid transparent;
}

.form-input[type="file"]:hover {
    color: #4388e480;
}


.form-input[type="text"]:link, .form-input[type="text"]:hover, .form-input[type="text"]:active, .form-input[type="text"]:focus,
.form-input[type="password"]:link, .form-input[type="password"]:hover, .form-input[type="password"]:active, .form-input[type="password"]:focus,
.form-input[type="email"]:link, .form-input[type="email"]:hover, .form-input[type="email"]:active, .form-input[type="email"]:focus,
.form-input[type="search"]:link, .form-input[type="search"]:hover, .form-input[type="search"]:active, .form-input[type="search"]:focus{
    animation: 500ms ease-in-out forwards animation-form;
}
  
  @keyframes animation-form {
    0% {
        border: 3px solid transparent;
        border-bottom: 3px solid #4388e4;
        border-radius: 10px;
    }
  
    100% {
        border: 3px solid #4388e4;
        border-radius: 0;
    }
}

.form-error{
    background-color: #FF000080;
    color: #000000aa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    margin-top: -30px;
    margin-bottom: 20px;
    text-align: center;
}

.form-error ul, .form-error ul li{
    padding: 0;
    margin: 0;
}

.public_button input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.public_button input+.public_button label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
.public_button input+.public_button label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

#id_trains, #id_city, #id_lines, #id_line{
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
}

#id_trains div, #id_city div, #id_lines div, #id_line div{
    width: 30%;
    margin: 2px 0;
    padding: 0 5px;
    border-left: 5px solid #4388e4;
    border-right: 5px solid #4388e4;
}

#id_trains div label, #id_city div label, #id_lines div label, #id_line div label{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#id_trains div input, #id_city div input, #id_lines div input, #id_line div input{
    width: 20px;
}

#id_status, #id_prev_path, #id_next_path{
    width: 100%;
}
#id_transfer div label input{
    width: 20px;
}

#id_transfer div label{
    display: block;
}

#id_transfer div{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    box-shadow: 2px 2px 12px 2px #4388e4;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#id_transfer{
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
}

#id_transfer div:hover {
    background-color: #4388e4;
    color: #fff;
}

.search-form{
    margin: 0 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.search-form input{
    width: 60%;
}

.search-form button{
    width: 25%;
    margin: 0;
    margin-left: 5%;
    font-size: 20px;
    height: 100%;
}

.search-form a button{
    width: 100% !important;
}

.ordering_form{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.ordering_form label{
    width: 27.779%;
}

.ordering_form select{
    width: 66.668%;
}

.input-file-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-file-container-main-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #4388e4;
	line-height: 22px;
	height: 40px;
    width: 80%;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
    position: absolute;
    top: -35%;
    left: 55%;
    display: block;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 2px 2px 12px 2px #4388e4;
}
 
/* Hover/active */
.input-file:hover span {
	background-color: #7db5ff;
}
.input-file:active span {
	background-color: #2b4a74;
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #ccc;
}

.example-1 .form-group{
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.example-1 .form-group button{
    width: 70%;
    margin: 30px auto;
}

.example-1 input[type=file]{
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.example-1 .label{
    position: relative;
    width: 70%;
    height: 200px;
    margin: 0 auto;
    border: 3px dashed #4388e4;
    border-radius: 10px;
    display: flex;
    padding: 1.2em;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
    flex-direction: column;
}

.example-1 .label svg{
    width: 30%;
    margin: 10px auto;
    z-index: 1;
}

.example-1 .label .image{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    bottom: 0px;
    right: 0px;
    z-index: 0;
    filter: blur(1px) brightness(40%);
}

.example-1, .example-1 .label .title{
    color: #4388e4;
    transition: 200ms color;
}

.example-1 .label .title{
    position: absolute;
    top: 100px;
    right: 50%;
    margin-right: -57.5px;
    z-index: 1;
}

.example-1 label .hovering{
    position: absolute;
    opacity: 0;
    width: 160px;
    top: 130px;
    left: 50%;
    margin-left: -80px;
    height: 5px;
    border-radius: 5px;
    background: #4388e4;
    z-index: 1;
}

.example-1 .label:hover{
    animation: 500ms ease-out forwards animation-file-form;
}

.example-1 .label:hover .image{
    animation: 500ms ease-out forwards animation-file-form-image;
}

.example-1 .label:hover .title{
    animation: 2000ms ease-out forwards animation-file-form-title;
}

.example-1 .label:hover .hovering{
    animation: 500ms ease-out forwards animation-file-form-line;
}

.example-1 .label:hover svg{
    animation: 2000ms ease-out forwards animation-file-form-arrow;
}


@keyframes animation-file-form-image {
    0% {
        border-radius: 10px;
    }
  
    100% {
        border-radius: 0;
    }
}

@keyframes animation-file-form {
    0% {
        border-radius: 10px;
        border: 3px solid #4388e4;
    }
  
    100% {
        border-radius: 0;
        border: 3px solid #4388e480;
    }
}

@keyframes animation-file-form-title {
    0% {
        opacity: 1;
    }
  
    25% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }
  
    100% {
        opacity: 1;
    }
}

@keyframes animation-file-form-line {
    0% {
        opacity: 0;
    }
  
    100% {
        opacity: 1;
    }
}

@keyframes animation-file-form-arrow {
    0% {
        padding-top: 0;
    }

    25% {
        padding-top: 15px;
    }

    50% {
        padding-top: 0;
    }
    
    75% {
        padding-top: 15px;
    }
    
    100% {
        padding-top: 0;
    }
}

.submit_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_msg{
    width: 25%;
    text-align: center;
    box-shadow: 2px 0 12px 2px #4388e4;
    margin-top: -10px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    color: #4388e4;
    font-weight: bold;
}