*, *::before, *::after {
    box-sizing: border-box;
  }
  
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

main{
    margin-top: 108px;
}

.wrap_navbar{
    max-width: 1250px;
    margin: 0 auto;
    padding: 10px 30px;
}

.wrap{
    max-width: 80%;
    margin: 0 auto;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 7px;
}

.form_wrap{
    max-width: 50%;
    margin: 0 auto;
    padding: 20px 30px;
    padding-bottom: 40px;
    background-color: #fff;
    border-radius: 7px;
}

.wrap_post{
    max-width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 7px;
}

.wrap_text{
    padding: 10px 30px;
}

.wrap_text h1{
    font-size: 30px;
    text-align: center;
    max-width: 80%;
    margin: 20px auto;
}

.content .form_wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.menu{
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0px;
    background: #ffffff;
    box-shadow: 0px 2px 12px 2px #4388e4;;
}

ul{
    list-style: none;
    padding: 0;
    padding-bottom: 40px;
}

button{
    border-radius: 16px;
    box-shadow: 0px 2px 12px 2px #4388e4;
    padding: 10px 40px;
    font-size: 24px;
    border: 0;
    margin-top: 0;
    background: transparent;
    border: none;
    color: #4388e4;
}

button:hover{
    cursor: pointer;
    background: #4388e4;
    color: #fff;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding-bottom: 0;
}

.menu .logo{
    color: #4388e4;
}

.logo div{
    display: flex;
    align-items: center;
}

.logo div p{
    margin: 0 20px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.menu a{
    color: #4388e4;
}

.menu a:hover{
    color: #4388e480;
}

@media (max-width: 720px) {
    .menu ul{
        font-size: 10px;
        font-weight: bold;
    }
    button{
        font-size: 8px;
        padding: 5px 10px;
    }
    .wrap, .form_wrap{
        max-width: 95%;
    }
}

.avatar{
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.content .wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}

h1, h2, h4{
    color: #4388e4;
}

br{
    display: none !important;
}

p{
    line-height: 1.4;
    font-size: 0.92em;
}

tbody{
    background: #ccc;
    box-shadow: 0px 2px 12px 2px #4388e4;
}

tbody, tr, th, td{
    border: 0;
    padding: 5px;
}

th{
    color: #4388e4;
    padding: 5px;
}

td{
    font-weight: bold;
    text-align: center;
}

td img{
    object-fit: cover;
    width: 100% !important;
    height: 200px !important;
    padding: 0;
}

p label{
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #4388e4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

option{
    font-size: 16px;
    font-weight: bold;
}

.navbar li{
    text-align: center;
    display: flex
}

.navbar li .logo{
    text-align: left;
}
 
 .navbar a {
    padding: 0 10px;
    display: block;
    transition: .4s ease-in-out;
 }

 
 @media(max-width:599px) {
    .navbar>li>a {
       padding: 15px 20px;
    }
    .submenu li a {
       padding: 10px 20px;
       margin: 0 20px;
    }
 }
 
 @media(min-width: 600px) {
    .navbar>li {
       position: relative;
    }
    .navbar>li:after {
       position: absolute;
       right: 0;
       width: 1px;
       height: 12px;
       top: 24px;
       box-shadow: 4px -2px 0 #d2d2d2;
       transform: rotate(30deg);
    }
    .navbar>li:last-child:after {
       background: none;
       box-shadow: none;
    }
    .submenu {
        position: absolute;
        left: 50%;
        top: 100%;
        width: 250px;
        margin-left: -125px;
        background: #F5F5F5C8;
        border: 2px solid #ededed;
        z-index: 5;
        visibility: hidden;
        opacity: 0;
        transform: scale(.8);
        transition: .4s ease-out;
        flex-direction: column;
        border-radius: 10px;
     }
     .navbar>li:hover .submenu {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
     }
     .submenu li a {
        padding: 10px 0;
        margin: 0 auto;
     }
  }

.p-as-a{
    padding: 0 10px;
    font-size: 20px;
    display: block;
    transition: .4s ease-in-out;
    color: #4388e4;
}

.p-as-a:hover{
    color: #4388e480;
    cursor: pointer;
}

.main_sect, h2{
    text-align: center;
}

.hr-line {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #4388e4;
}

.hr-washed {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	box-shadow: 0 0 10px 1px #4388e4;
}

.cat_title{
    text-align: center;
    font-size: 36px;
}

.post_sect{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.content li{
    margin-bottom: 20px;
    font-size: 20px;
}

.content a{
    color: #000;
    display: block;
}

.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.post_list, .post_main_list{
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    overflow: auto;
}

@media (max-width: 1400px) {
    .post_main_list{
        max-width: 900px;
    }
}

.title_wrap{
    margin: 20px auto;
}

.post_list{
    justify-content: space-around;
    flex-wrap: wrap;
}

.post_main_list{
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.no_news_wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: 0 auto;
    padding: 80px;
    background-color: #fff;
    border-radius: 7px;
}

.no_news_wrap img{
    width: 30%;
}

.cats_list{
    display: flex;
    flex-direction: row;
}

.cats_list .element{
    width: 60%;
}

.btn_cats{
    padding: 0;
}

.btn_cats img{
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border: 5px solid #4388e4;
}

.btn_cats span{
    font-weight: bold;
    display: block;
    padding: 10px;
}

@media (max-width: 720px) {
    .cats_list .element{
        width: 100%;;
    }

    .btn_cats span{
        font-size: 25px;
    }
}

.categories{
    flex-direction: row;
    flex-wrap: wrap;
}

.categories .element{
    width: 45%;
}

.post_style{
    margin-top: 110px;
}

.element{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

@media (max-width: 1080px) {
    .mw-wrap{
        max-width: 45%;
    }
    .post_list{
        justify-content: space-around;
    }
    .post_main_list{
        overflow: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 100%;
    }
}

@media (max-width: 790px) {
    .mw-wrap{
        max-width: 100%;
    }
    .post_list, .post_main_list{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    .element{
        max-width: 120%;
    }
    .post_list{
        max-width: 120%;
    }
}

.post_main_list_scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.post_main_list_scroll::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.post_main_list_scroll::-webkit-scrollbar-thumb
{
  background-color: #4388e4;
}

.element a{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cat_post{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cat_post span{
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.frame-content .cat_post{
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hover_replace:hover{
    color: var(--hr) !important;
}

.color_hover:hover{
    animation: 500ms ease-in-out forwards background_color_st;
}

.color_hover:hover h2{
    animation: 500ms ease-in-out forwards text_color_st;
}
  
@keyframes background_color_st {
    0% {
        background: #00000000;
    }
  
    100% {
    background: var(--ch);
    }
}
  
@keyframes text_color_st {
    0% {
        color: #4388e4;
    }
  
    100% {
    color: var(--cth);
    }
}

.prev_post img{
    width: 100%;
    height: 216.9px;
}

.prev_post_slider{
    position: absolute;
    z-index: -1;
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    filter: brightness(0.7);
}

.prev_post_slider img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.post_info{
    width: 70%;
    height: 80%;
    padding-top: 20px;
    padding-right: 10px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}

.post_info p {
    text-align: start;
    margin: 0 auto;
    width: 90%;
    font-size: 18px;
}

.element a h2{
    margin: 0 20px;
    font-size: 22px;
}

.element a p{
    margin: 0 20px;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.date_post{
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.date_post span{
margin: 0 10px;
font-size: 16px;
color: #00000080;
}

.date_source span{
    color: #000000;
}

.date_source span:visited{
    color: #00000080;
}

.date_source span:hover{
    color: #00000080;
}

.post p{
    line-height: 20px;
    max-width: 100%;
}

.post-settings{
    display: flex;
    justify-content: space-around;
}

.preview_img{
    object-fit: cover;
    width: 100%;
    height: 120px;
}

.line_parent{
    position: relative;
    z-index: 0;
    margin-top: -30px;
    margin-bottom: 30px;
    height: 80px;
    width: 100%;
}

.line{
    position: absolute;
    top: 20px;
    height: 40px;
    width: 100%;
}

.circle{
    position: absolute;
    width: 80px;
    height: 80px;
    right: 50%;
    margin-right: -40px;
    border-radius: 50%;
}

.circle_a:hover{
    box-shadow: 0 0 12px 2px #fff ;
}

.circle p{
    margin: 0;
    margin-top: 25%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.btn_c{
    background: #ccc;
}

.btn-delete{
    border-radius: 16px;
    box-shadow: 0px 2px 12px 2px #d81111;
    padding: 10px 40px;
    font-size: 24px;
    border: 0;
    margin-top: 0;
    background: transparent;
    border: none;
    color: #d81111;
}

.btn-delete:hover{
    cursor: pointer;
    background: #d81111;
    color: #fff;
}

.cities_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: stretch;
}

.city_element{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.city_post{
    max-width: 1250px;
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city_post p{
    font-size: 20px;
    text-align: center;
}

.city_post p img{
    width: 100%;
    margin-bottom: 10px;
}

.cities_line_list{
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 2px 12px 2px #4388e4;;
    background: #F5F5F5
}

.vertical_lines_cat_list{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.vertical_station_cat_list{
    margin: 0;
    max-height: 600px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.vertical_lines_cat_list .element, .vertical_station_cat_list .element{
    width: 45%;
}

.vertical_list{
    width: 50%;
    height: 605px;
    margin: 0;
    background-color: #F5F5F5;
    box-shadow: inset 0px 2px 12px 2px #4388e4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}

.vertical_list::-webkit-scrollbar-track,
.vertical_stations_list::-webkit-scrollbar-track,
.vertical_station_cat_list::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.vertical_list::-webkit-scrollbar,
.vertical_stations_list::-webkit-scrollbar,
.vertical_station_cat_list::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.vertical_list::-webkit-scrollbar-thumb,
.vertical_stations_list::-webkit-scrollbar-thumb,
.vertical_station_cat_list::-webkit-scrollbar-thumb
{
  background-color: #4388e4;
}

.vertical_stations_list{
    width: 50%;
    background-color: #F5F5F5;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: inset 0px 2px 12px 2px #4388e4;
    max-height: 550px;
    padding: 15px 0;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: flex-end;
}

.vertical_list .element, .vertical_lines_cat_list .element, .vertical_station_cat_list .element{
    height: 55px;
    border-radius: 27.5px;
}

.vertical_stations_list .element{
    height: 110px;
    width: 90%;
    margin: 0;
    flex-direction: row;
}

.vertical_stations_list .element:hover{
    animation: 500ms ease-in-out forwards slidein_st;
}
  
  @keyframes slidein_st {
    0% {
        width: 90%;
    }
  
    100% {
        width: 95%;
    }
}

.vertical_list .element a, .vertical_lines_cat_list a,
.vertical_stations_list .element .vertical_stations_info_block .line_link_text,
.vertical_station_cat_list a{
    flex-direction: row;
}

.vertical_stations_list .vertical_stations_info_block .line_link_text{
    height: 70%;
    justify-content: flex-start;
    align-items: flex-end;
}

.vertical_stations_list .line_link_image{
    height: 100%;
    display: block;
}

.vertical_stations_info_block{
    width: 262px;
    display: flex;
    flex-direction: column;
}

.vertical_list .element a h2, .vertical_lines_cat_list .element a h2{
    font-size: 15px;
    display: flex;
    align-items: center;
}

.circle_line{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.vertical_list .element a .circle_line p, .vertical_lines_cat_list .element a p{
    margin: 0;
    text-align: center;
    margin-top: 30%;
    font-size: 20px;
    font-weight: bold;
}

.vertical_station_cat_list .element a button span{
    font-size: 10px;
}

.stations_element{
    width: 30%;
}

.trans_list{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    align-content: center;
    padding: 0;
}

.trans_list li{
    margin: 0;
    height: 25px;
    max-width: 210px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.trans_list li a{
    flex-direction: row;
}

.trans_list li a p{
    margin: 0;
    max-width: 150px;
    display: flex;
}

.trans_list li a p:hover{
    color: #00000080;
}

.transfer_line{
    height: 25px;
    width: 40px;
    margin: 0 10px;
    border-radius: 4px;
}

.transfer_line span{
    display: block;
    font-weight: bold;
    text-align: center;
}

.transfer_hover:hover{
    background-color: var(--th) !important;
}

.vertical_stations_list .element a .station_text h2{
    margin: 0 auto;
    max-width: 250px;
    overflow: hidden;
    font-size: 20px;
}

.vertical_stations_list .element a .station_text p{
    font-size: 14px;
    text-align: center;
}

.vertical_stations_list .element a .station_text h2:hover{
    color: #4388e480;
}

.station_img{
    object-fit: cover;
    width: 130px;
    height: 100%;
}

.station_grad{
    height: 100%;
	display: inline-block;
	position: relative;    
	line-height: 0;
}

.station_grad::after{
    content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
    background-image: radial-gradient(circle, rgba(228,228,228,0) 0%, rgba(191,216,246,0.60) 100%);
    opacity: 0.8;
}

.station_nav{
    height: 25px;
    margin-top: -4px;
    display: flex;
    justify-content: space-around;
}

.station_nav a{
    margin-top: 10px;
}

.station_nav a span{
    font-size: 20px;
    font-weight: bold;
    display: block;
    border-radius: 5px;
    padding: 0 20px;
    margin-top: -10px;
}

.station_nav a:hover {
    background-color: var(--th) !important;
}

.st_button{
    width: 100%;
    margin: 2px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.st_button span{
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 auto;
}

.st_button .circle_line{
    border-radius: 15px;width: 45px;
    height: 30px;
    margin: 0;
}

.scheme_line{
    display: flex;
}

.scheme{
    object-fit: contain;
    width: 50%;
    height: 605px;
}

.form-style{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.form-input{
    width: 100%;
    border: 3px solid transparent;
    border-bottom: 3px solid #4388e4;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;
    background-color: #F5F5F5;
    color: #4388e4;
    font-weight: bold;
}

.form-input[type="file"]{
    background-color: transparent;
    border-bottom: 3px solid transparent;
}

.form-input[type="file"]:hover {
    color: #4388e480;
}


.form-input[type="text"]:link, .form-input[type="text"]:hover, .form-input[type="text"]:active, .form-input[type="text"]:focus,
.form-input[type="password"]:link, .form-input[type="password"]:hover, .form-input[type="password"]:active, .form-input[type="password"]:focus,
.form-input[type="email"]:link, .form-input[type="email"]:hover, .form-input[type="email"]:active, .form-input[type="email"]:focus{
    animation: 500ms ease-in-out forwards animation-form;
}
  
  @keyframes animation-form {
    0% {
        border: 3px solid transparent;
        border-bottom: 3px solid #4388e4;
        border-radius: 10px;
    }
  
    100% {
        border: 3px solid #4388e4;
        border-radius: 0;
    }
}

.form-error{
    background-color: #FF000080;
    color: #000000aa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    margin-top: -30px;
    margin-bottom: 20px;
    text-align: center;
}

.form-error ul, .form-error ul li{
    padding: 0;
    margin: 0;
}

.form_wrap form button{
    width: 100%;
    margin: 0 auto;
}

.django-ckeditor-widget{
    width: 100%;
}

#id_status, #id_prev_path, #id_next_path{
    width: 100%;
}

#id_transfer div label input, #id_line div label input{
    width: 20px;
}

#id_transfer div label, #id_line div label{
    display: block;
}

#id_transfer div, #id_line div{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    box-shadow: 2px 2px 12px 2px #4388e4;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

#id_transfer, #id_line{
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
}

#id_transfer div:hover {
    background-color: #4388e4;
    color: #fff;
}

#frame { 
    margin: 0 auto; 
    width: 100%; 
    max-width: 100%; 
    text-align: center; 
} 

#frame input[type=radio] { 
    display: none; 
} 

#frame label { 
    cursor: pointer; 
} 

#slides { 
    padding: 10px; 
    position: relative; 
    z-index: 1; 
} 

#overflow { 
    width: 100%; 
    overflow: hidden; 
} 

#frame1:checked~#slides .inner { 
    margin-left: 0; 
} 

#frame2:checked~#slides .inner { 
    margin-left: -100%; 
} 

#frame3:checked~#slides .inner { 
    margin-left: -200%; 
} 

#frame4:checked~#slides .inner { 
    margin-left: -300%; 
} 

#frame5:checked~#slides .inner { 
    margin-left: -400%; 
} 

#slides .inner { 
    transition: margin-left 800ms  
        cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    width: var(--news-count); 
    line-height: 0; 
    height: 400px; 
} 

#slides .frame { 
    width: var(--news-count);
    float: left; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
} 

.frame-content{
    width: 98%;
    height: 96%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
}

.frame-content-with-image .post_info h2{
    color: #F5F5F5;
    font-size: 22px;
    font-weight: 800;
    height: 40px;
    width: 100%;
    margin: 0;
    margin-top: 20px;
}

.frame-content-with-image .post_info p{
    color: #F5F5F5;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.frame-content-with-image .post_info .date_post span{
    color: #F5F5F5;
}

.frame-content-with-image .post_info h2:hover, .frame-content-with-image .post_info p:hover{
    color: #F5F5F580
}

#bullets { 
    text-align: center; 
} 

#bullets label { 
    display: inline-block;
    padding: 4px 8px;
    border-radius: 5px;
    background: #44444480;
    margin: 0 5px;
    color: #FFF;
    font-weight: bold;
} 

#frame1:checked~#bullets label:nth-child(1), 
#frame2:checked~#bullets label:nth-child(2), 
#frame3:checked~#bullets label:nth-child(3), 
#frame4:checked~#bullets label:nth-child(4),
#frame5:checked~#bullets label:nth-child(5) { 
    background: #444; 
} 

@media screen and (max-width: 900px) { 
    #slides { 
        max-width: calc(100% - 140px); 
        margin: 0 auto; 
    } 
} 


.w-25{
    width: 25%;
}


.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.ptb-30{
    padding: 30px 0;
}

.ml_32{
	margin-left: 32px;
}

.mt20{
    margin-top: 20px; 
}

.pb-20{
    padding-bottom: 20px;
}

.mmw-330{
    min-width: 330px;
    max-width: 330px;
}

.mw-wrap{
    max-width: 30%;
}