*, *::before, *::after {
    box-sizing: border-box;
  }
  
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

main{
    margin-top: 108px;
}

.wrap_navbar{
    max-width: 1250px;
    margin: 0 auto;
    padding: 10px 30px;
}

.wrap{
    max-width: 80%;
    margin: 0 auto;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 7px;
}

.form_wrap{
    max-width: 50%;
    margin: 0 auto;
    padding: 20px 30px;
    padding-bottom: 40px;
    background-color: #fff;
    border-radius: 7px;
}

.wrap_post{
    max-width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 7px;
}

.wrap_text{
    padding: 10px 30px;
}

.wrap_text h1{
    font-size: 30px;
    text-align: center;
    max-width: 80%;
    margin: 20px auto;
}

.content .form_wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.menu{
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0px;
    background: #ffffff;
    box-shadow: 0px 2px 12px 2px #4388e4;;
}

ul{
    list-style: none;
    padding: 0;
    padding-bottom: 40px;
}

button{
    border-radius: 16px;
    box-shadow: 0px 2px 12px 2px #4388e4;
    padding: 10px 40px;
    font-size: 24px;
    border: 0;
    margin-top: 0;
    background: transparent;
    border: none;
    color: #4388e4;
}

button:hover{
    cursor: pointer;
    background: #4388e4;
    color: #fff;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding-bottom: 0;
}

.menu .logo{
    color: #4388e4;
}

.logo a{
    display: flex;
    align-items: center;
}

.logo a p{
    margin: 0 20px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.menu a{
    color: #4388e4;
}

.menu a:hover{
    color: #4388e480;
}

@media (max-width: 720px) {
    .menu ul{
        font-size: 10px;
        font-weight: bold;
    }
    button{
        font-size: 8px;
        padding: 5px 10px;
    }
    .wrap, .form_wrap{
        max-width: 95%;
    }
}

.avatar{
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.content .wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}

h1, h2, h4{
    color: #4388e4;
}

br{
    display: none !important;
}

p{
    line-height: 1.4;
    font-size: 0.92em;
}

tbody{
    background: #ccc;
    box-shadow: 0px 2px 12px 2px #4388e4;
}

tbody, tr, th, td{
    border: 0;
    padding: 5px;
}

th{
    color: #4388e4;
    padding: 5px;
}

td{
    font-weight: bold;
    text-align: center;
}

td img{
    object-fit: cover;
    width: 100% !important;
    height: 200px !important;
    padding: 0;
}

img {
	filter: brightness(90%)
}

.navbar li{
    text-align: center;
}

.navbar li .logo{
    text-align: left;
}

.main_sect, h2{
    text-align: center;
}

.hr-line {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #4388e4;
}

.hr-washed {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	box-shadow: 0 0 10px 1px #4388e4;
}

.cat_title{
    text-align: center;
    font-size: 36px;
}

.post_sect{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.content li{
    margin-bottom: 20px;
    font-size: 20px;
}

.content a{
    color: #000;
    display: block;
}

.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.post_list, .post_main_list{
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    overflow: auto;
}

@media (max-width: 1400px) {
    .post_main_list{
        max-width: 900px;
    }
}


.post_list{
    justify-content: space-around;
    flex-wrap: wrap;
}

.post_main_list{
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.cats_list{
    display: flex;
    flex-direction: row;
}

.cats_list .element{
    width: 60%;
}

.btn_cats{
    padding: 0;
}

.btn_cats img{
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border: 5px solid #4388e4;
}

.btn_cats span{
    font-weight: bold;
    display: block;
    padding: 10px;
}

@media (max-width: 720px) {
    .cats_list .element{
        width: 100%;;
    }

    .btn_cats span{
        font-size: 25px;
    }
}

.categories{
    flex-direction: row;
    flex-wrap: wrap;
}

.categories .element{
    width: 45%;
}

.post_style{
    margin-top: 70px;
}

.element{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.minw-330{
    min-width: 330px;
}

.mw-wrap{
    max-width: 30%;
}

@media (max-width: 1080px) {
    .mw-wrap{
        max-width: 45%;
    }
    .post_list{
        justify-content: space-around;
    }
    .post_main_list{
        overflow: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 100%;
    }
}

@media (max-width: 790px) {
    .mw-wrap{
        max-width: 100%;
    }
    .post_list, .post_main_list{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    .element{
        max-width: 120%;
    }
    .post_list{
        max-width: 120%;
    }
}

.post_main_list_scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.post_main_list_scroll::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.post_main_list_scroll::-webkit-scrollbar-thumb
{
  background-color: #4388e4;
}

.element a{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cat_post{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cat_post span{
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover_replace:hover{
    color: var(--hr) !important;
}

.color_hover:hover{
    animation: 500ms ease-in-out forwards background_color_st;
}

.color_hover:hover h2{
    animation: 500ms ease-in-out forwards text_color_st;
}
  
@keyframes background_color_st {
    0% {
        background: #00000000;
    }
  
    100% {
    background: var(--ch);
    }
}
  
@keyframes text_color_st {
    0% {
        color: #4388e4;
    }
  
    100% {
    color: var(--cth);
    }
}

.prev_post img{
    width: 100%;
    height: 216.9px;
}

.element a h2{
    margin: 0 20px;
    font-size: 22px;
}

.element a p{
    margin: 0 20px;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

.date_post{
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.date_post span{
margin: 0 10px;
font-size: 16px;
color: #00000080;
}

.date_source span{
    color: #000000;
}

.date_source span:visited{
    color: #00000080;
}

.date_source span:hover{
    color: #00000080;
}

.post p{
    line-height: 20px;
    max-width: 100%;
}

.preview_img{
    object-fit: cover;
    width: 100%;
    height: 120px;
}

.line_parent{
    position: relative;
    z-index: 0;
    margin-top: -30px;
    margin-bottom: 30px;
    height: 80px;
    width: 100%;
}

.mt90{
    margin-top: 90px; 
}

.line{
    position: absolute;
    top: 20px;
    height: 40px;
    width: 100%;
}

.circle{
    position: absolute;
    width: 80px;
    height: 80px;
    right: 50%;
    margin-right: -40px;
    border-radius: 50%;
}

.circle_a:hover{
    box-shadow: 0 0 12px 2px #fff ;
}

.circle p{
    margin: 0;
    margin-top: 25%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.btn_c{
    background: #ccc;
}

.cities_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: stretch;
}

.city_element{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.city_post{
    max-width: 1250px;
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city_post p{
    font-size: 20px;
    text-align: center;
}

.city_post p img{
    width: 100%;
    margin-bottom: 10px;
}

.cities_line_list{
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 2px 12px 2px #4388e4;;
    background: #F5F5F5
}

.vertical_lines_cat_list{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.vertical_lines_cat_list .element{
    width: 45%;
}

.vertical_list{
    width: 50%;
    height: 605px;
    margin: 0;
    background-color: #F5F5F5;
    box-shadow: inset 0px 2px 12px 2px #4388e4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}

.vertical_list::-webkit-scrollbar-track, .vertical_stations_list::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.vertical_list::-webkit-scrollbar, .vertical_stations_list::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.vertical_list::-webkit-scrollbar-thumb, .vertical_stations_list::-webkit-scrollbar-thumb
{
  background-color: #4388e4;
}

.vertical_stations_list{
    width: 50%;
    background-color: #F5F5F5;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: inset 0px 2px 12px 2px #4388e4;
    max-height: 550px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: flex-end;
}

.vertical_list .element, .vertical_lines_cat_list .element{
    height: 55px;
    border-radius: 27.5px;
}

.vertical_stations_list .element{
    height: 110px;
    width: 90%;
    margin: 0;
    flex-direction: row;
}

.vertical_stations_list .element:hover{
    animation: 500ms ease-in-out forwards slidein_st;
}
  
  @keyframes slidein_st {
    0% {
        width: 90%;
    }
  
    100% {
        width: 95%;
    }
}

.vertical_list .element a, .vertical_lines_cat_list a, .vertical_stations_list .element .vertical_stations_info_block .line_link_text{
    flex-direction: row;
}

.vertical_stations_list .vertical_stations_info_block .line_link_text{
    height: 70%;
    justify-content: flex-start;
    align-items: flex-end;
}

.vertical_stations_list .line_link_image{
    height: 100%;
    display: block;
}

.vertical_stations_info_block{
    display: flex;
    flex-direction: column;
}

.vertical_list .element a h2, .vertical_lines_cat_list .element a h2{
    font-size: 15px;
    display: flex;
    align-items: center;
}

.circle_line{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.vertical_list .element a .circle_line p, .vertical_lines_cat_list .element a p{
    margin: 0;
    text-align: center;
    margin-top: 30%;
    font-size: 20px;
    font-weight: bold;
}

.trans_list{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    align-content: center;
    padding: 0;
}

.trans_list li{
    margin: 0;
    height: 25px;
    max-width: 210px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.trans_list li a{
    flex-direction: row;
}

.trans_list li a p{
    margin: 0;
    max-width: 150px;
    display: flex;
}

.trans_list li a p:hover{
    color: #00000080;
}

.transfer_line{
    height: 25px;
    width: 40px;
    margin: 0 10px;
    border-radius: 4px;
}

.transfer_line span{
    display: block;
    font-weight: bold;
    text-align: center;
}

.transfer_hover:hover{
    background-color: var(--th) !important;
}

.vertical_stations_list .element a .station_text h2{
    margin: 0 auto;
    max-width: 250px;
    overflow: hidden;
    font-size: 20px;
}

.vertical_stations_list .element a .station_text p{
    font-size: 14px;
    text-align: center;
}

.vertical_stations_list .element a .station_text h2:hover{
    color: #4388e480;
}

.station_img{
    object-fit: cover;
    width: 130px;
    height: 100%;
}

.station_nav{
    height: 25px;
    margin-top: -4px;
    display: flex;
    justify-content: space-around;
}

.station_nav a{
    margin-top: 10px;
}

.station_nav a span{
    font-size: 20px;
    font-weight: bold;
    display: block;
    border-radius: 5px;
    padding: 0 20px;
    margin-top: -10px;
}

.station_nav a:hover {
    background-color: var(--th) !important;
}

.ml_32{
	margin-left: 32px;
}

.scheme_line{
    display: flex;
}

.scheme{
    object-fit: contain;
    width: 50%;
    height: 605px;
}

.form-input{
    width: 100%;
    border: 3px solid transparent;
    border-bottom: 3px solid #4388e4;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;
    background-color: #F5F5F5;
    color: #4388e4;
    font-weight: bold;
}

.form-input[type="file"]{
    background-color: transparent;
    border-bottom: 3px solid transparent;
}

.form-input[type="file"]:hover {
    color: #4388e480;
}


.form-input[type="text"]:link, .form-input[type="text"]:hover, .form-input[type="text"]:active, .form-input[type="text"]:focus,
.form-input[type="password"]:link, .form-input[type="password"]:hover, .form-input[type="password"]:active, .form-input[type="password"]:focus,
.form-input[type="email"]:link, .form-input[type="email"]:hover, .form-input[type="email"]:active, .form-input[type="email"]:focus{
    animation: 500ms ease-in-out forwards animation-form;
}
  
  @keyframes animation-form {
    0% {
        border: 3px solid transparent;
        border-bottom: 3px solid #4388e4;
        border-radius: 10px;
    }
  
    100% {
        border: 3px solid #4388e4;
        border-radius: 0;
    }
}

.form-error{
    background-color: #FF000080;
    color: #000000aa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    margin-top: -30px;
    margin-bottom: 20px;
    text-align: center;
}

.form-error ul, .form-error ul li{
    padding: 0;
    margin: 0;
}

.form_wrap form button{
    width: 100%;
    margin: 0 auto;
}

.w-100{
    width: 100%;
}