{% extends 'main_page/base.html' %}
{% load static %}

{% block content %}
<main class="content post_style">
    <section class="wrap_post">
        <img class="preview_img" src="{% static 'images/stations.jpg' %}" alt="cities_image">
        <h1 class="cat_title">Категория: станций</h1>
        <a class="btn_return" href="{% url 'stations' %}">
            <button>Вернуться к станциям</button>
        </a>
        <form action="{% url 'search_station' %}" method="get" class="search-form" autocomplete="off">
            <input type="search" placeholder="Введите название станций" name="q" required="" value="{{ q }}" class="form-input">
            <button type="submit">Найти станцию</button>
            <p class="ordering_form">{{ ordering }}</p>
        </form>
        {% if stations %}
        <ul class="station_search_list">
            {% for st in stations %}
            <li class="element station_search_list_line" style="--ssll: {{ st.line.color }};">
                <a class="search_station" href="{{ st.get_absolute_url }}">
                    <div class="hover_background"></div>
                    {% if st.image %}
                    <img class="station_img" src="{{ st.image.url }}" alt="{{ st.title }}">
                    {% else %}
                    <img class="station_img" src="{% static 'images/plug.jpg' %}" alt="post_image">
                    {% endif %}
                </a>
                    <a href="{{ st.line.get_absolute_url }}">
                        <div class="search_station_line"
                             style="--ssl: {{ st.line.color }}a4; --sslf: {{ st.line.color }}; --sslt: {{ st.line.color_text }};">{{ st.line.number }}</div>
                    </a>
                <a class="search_station h-100" href="{{ st.get_absolute_url }}">
                    <h2 class="list_title">{{ st.title | truncatechars:30 }}</h2>
                    <p>{{ st.line.city }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="not_found">
                <img src="{% static 'images/notfound.svg' %}" alt="nonews">
                <h2>По вашему запросу ничего не найдено!</h2>
            </div>
        {% endif %}
    </section>
</main>
{% endblock %}