{% extends 'main_page/base.html' %}

{% block content %}
<main class="content">
    <div class="wrap">
        <h1>{{ title }}</h1>
        <form class="form-style" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {% for f in form %}
                <p class="{% if f.label == 'Цвет текста' or f.label == 'Цвет' or f.label == 'Путь к предыдущей станций' or f.label == 'Статус' or f.label == 'Путь к следующей станций' or f.label == 'Тип пути' %} w-50
                {% else %} w-100 {% endif %}">
                    <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                    {{ f }}
                </p>
                    {% if f.errors %}
                        <div class="form-error">{{ f.errors }}</div>
                    {% endif %}
            {% endfor %}
            <button class="w-25 m-30">Сохранить</button>
            <h2>{{ post }} {{ post.slug }}</h2>
            {% if request.user.is_staff and public_form %}
            {% if post.is_public %}
                <button class="w-25 m-30" type="submit" name="save_non_public">Сохранить и отозвать</button>
                {% else %}
                <button class="w-25 m-30" type="submit" name="save_public">Сохранить и опубликовать</button>
                {% endif %}
            {% endif %}
        </form>
    </div>
</main>
{% endblock %}