{% load static %}
<header class="menu">
    <section class="wrap">
        <ul class="navbar">
            <li class="logo"><a href="{% url 'main' %}">Пользователь
            </a></li>
            <li><a href="">Мессенджер
            </a></li>
            <li><a href="">Предложить новость
            </a></li>
            <li><a href="{% url 'blogs' %}">Новости
            </a></li>
            <li><a href="">
                <button>Выйти</button>
            </a></li>
        </ul>
    </section>
</header>