{% extends 'main_page/base.html' %}
{% load static %}

{% block content %}
    <main class="content post_style">
        <section class="wrap_post">
            <img class="preview_img" src="{% static 'images/stations.jpg' %}" alt="cities_image">
            <h1 class="cat_title">Категория: станций</h1>
            <ul class="cats_list categories">
                {% for c in cities %}
                <li class="element">
                    <a href="{{ c.get_absolute_url }}">
                        <button class="btn_cats">
                            <img src="{{ c.image.url }}" alt="city_image">
                            <span>{{ c.title }}</span></button>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}