{% extends 'main_page/base.html' %}
{% load static %}
{% load blog_filters %}

{% block content %}
<main class="content">
    {% if posts %}
    <section class="wrap">
        <h1 class="w-100">{{ title }}</h1>
        <ul class="post_list w-100">
            {% for p in posts %}
            <li class="element mw-wrap brad-10" style="box-shadow: 0px 2px 12px 2px {{ p.line.color }};">
                <div class="cat_post" id="fixed_container" style="background: {{ p.line.color }}">
                    <a href="{{ p.line.city.get_absolute_url }}">
                        <span class="hover_replace"
                              style="color: {{ p.line.color_text }}; --hr:{{ p.line.color_text }}80;">{{ p.line.city.title }}</span>
                    </a>
                    <a href="{{ p.line.get_absolute_url }}">
                        <span class="hover_replace"
                              style="color: {{ p.line.color_text }}; --hr:{{ p.line.color_text }}80;">{{ p.line.title }}</span>
                    </a>
                </div>
                <a href="{{ p.get_absolute_url }}">
                    <div class="hover_background"></div>
                    <div class="prev_post">
                        {% if p.image %}
                        <img src="{{ p.image.url }}" alt="post_image">
                        {% else %}
                        <img src="{% static 'images/plug.jpg' %}" alt="post_image">
                        {% endif %}
                    </div>
                    <h2>{{ p.title | truncatewords:15 }}</h2>
                    <div class="date_post">
                        <div class="post_status">
                            {% if status %}
                            <p>{% if p.is_public %}✅{% else %}❌{% endif %} Новость{% if not p.is_public %} не{% endif %} опубликована</p>
                            {% endif %}
                        </div>
                        <span>{{ p.owner.username }}|{{ p.time_update }}</span>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% else %}
    <section class="no_news_wrap">
        <img src="{% static 'images/nonews.svg' %}" alt="nonews">
        <h1>Новостей пока нет.{% if user.is_staff %} Вы можете его добавить{% endif %}</h1>
        {% if user.is_staff %}
        <a href="#">
            <button>Добавить новость</button>
        </a>
        {% endif %}
    </section>
    {% endif %}
</main>
{% endblock %}