{% extends 'main_page/base.html' %}
{% load blog_filters %}

{% block content %}
<main class="content">
    <section class="wrap">
        <h1>{{ title }}</h1>
        {% if posts %}
        <ul class="post_list">
            {% for p in posts %}
            <li class="element" style="box-shadow: 0px 2px 12px 2px {{ p.line.color }};">
                <div class="cat_post" id="fixed_container" style="background: {{ p.line.color }}">
                    <a href=""><span>{{ p.line.city.title }}</span></a>
                    <a href=""><span>{{ p.line.title }}</span></a>
                </div>
                <a href="{{ p.get_absolute_url }}">
                    <div class="prev_post">
                        <img src="{{ p.image.url }}" alt="post_image">
                    </div>
                    <h2>{{ p.title }}</h2>
                    <p>{{ p.content | striptags | replace_ndash  | linebreaksbr | truncatewords:15 }}</p>
                    <div class="date_post">
                        <span>{{ p.time_update }}</span>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </section>
</main>
{% endblock %}