{% extends 'main_page/base.html' %}
{% load static %}
{% load blog_filters %}

{% block content %}
<main class="content">
    {% if posts %}
    <section class="wrap">
        <h1 class="w-100">{{ title }}</h1>
        <ul class="post_list w-100">
            {% for p in posts %}
            <li class="element mw-wrap brad-10 black-shadow">
                <div class="cat_post" id="fixed_container">
                    <a href="{{ p.city.get_absolute_url }}">
                        <span class="link_city">{{ p.city.title }}</span>
                    </a>
                    <ul class="post_lines_list">
                        {% for l in p.line.all|slice:"5" %}
                        {% if forloop.first and forloop.last %}
                        <li class="post_single_line hover_line" style="background: {{ l.color }}; --hl:{{ l.color }}80;">
                            <a href="{{ l.get_absolute_url }}">
                                <span style="color: {{ l.color_text }};">
                                    {{ l.title }}
                                </span>
                            </a>
                        </li>
                        {% else %}
                        <li class="post_multiple_line">
                            <a href="{{ l.get_absolute_url }}">
                                <svg width="50" height="30" xmlns="http://www.w3.org/2000/svg"
                                     style="--svgh: {{ l.color }}80">
                                    <g>
                                        <title>background</title>
                                        <rect fill="none" id="canvas_background" height="62" width="102" y="-1" x="-1"/>
                                    </g>
                                    <g>
                                        <title>{{ l.title }}</title>
                                        <rect rx="10" id="svg_1" height="30" width="50" y="-0.01212" x="0.0001"
                                              stroke-width="0" stroke="#000" fill="{{ l.color }}"/>
                                        <text font-weight="bold" xml:space="preserve" text-anchor="middle"
                                              font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_4"
                                              y="23.31122"
                                              x="25" fill-opacity="null" stroke-opacity="null" stroke-width="0"
                                              stroke="#000" fill="{{ l.color_text }}">{{ l.number }}</text>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <a href="{{ p.get_absolute_url }}">
                    <div class="hover_background"></div>
                    <div class="prev_post">
                        {% if p.image %}
                        <img src="{{ p.image.url }}" alt="post_image">
                        {% else %}
                        <img src="{% static 'images/plug.jpg' %}" alt="post_image">
                        {% endif %}
                    </div>
                    <h2>{{ p.title | truncatewords:15 }}</h2>
                    <div class="date_post">
                        <div class="post_status">
                            {% if status %}
                            <p>{% if p.is_public %}✅{% else %}❌{% endif %} Новость{% if not p.is_public %} не{% endif %}
                                опубликована</p>
                            {% endif %}
                        </div>
                        <span>{{ p.owner.username }}|{{ p.time_update }}</span>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% else %}
    <section class="no_news_wrap">
        <img src="{% static 'images/nonews.svg' %}" alt="nonews">
        <h1>Новостей пока нет.{% if user.is_staff %} Вы можете его добавить{% endif %}</h1>
        {% if user.is_staff %}
        <a href="#">
            <button>Добавить новость</button>
        </a>
        {% endif %}
    </section>
    {% endif %}
</main>
{% endblock %}