{% extends 'main_page/base.html' %}

{% block content %}
<main class="content post_style">
    <section class="wrap_post {% if not post.image %} ptb-30 {% endif %}">
        {% if post.image %}
        <img class="preview_img" src="{{ post.image.url }}" alt="post_image">
        <div class="line_parent">
            <div class="line"
                 style="background: {{ post.line.color }};"></div>
            <a href="{{ post.line.get_absolute_url }}">
                <div class="circle circle_a" style="background: {{ post.line.color }}">
                    <p style="color: {{ post.line.color_text }};">{{ post.line.number }}</p>
                </div>
            </a>
        </div>
        {% else %}
        <div class="line_parent mt20">
            <div class="line"
                 style="background: linear-gradient(90deg, rgba(0,0,0,0) 0%, {{ post.line.color }} 10%, {{ post.line.color }} 90%, rgba(0,0,0,0) 100%);"></div>
            <a href="{{ post.line.get_absolute_url }}">
                <div class="circle circle_a" style="background: {{ post.line.color }}">
                    <p style="color: {{ post.line.color_text }};">{{ post.line.number }}</p>
                </div>
            </a>
        </div>
        {% endif %}
        <div class="wrap_text">
            <h1>{{ post.title }}</h1>
            <div class="post">
                <p> {{ post.content | safe | linebreaksbr }}</p>
            </div>
            <div class="date_post">
                <span>{{ post.owner.username }}</span>
                <span>{{ post.time_update }}</span>
                {% if post.source %}
                <a href="{{ post.source }}" target="_blank" class="date_source">
                    <span>Ссылка на источник:</span>
                </a>
                {% endif %}
            </div>
        </div>
        {% if request.user.is_staff %}
        <hr class="hr-line">
        <div class="post-settings {% if not post.is_public %} pb-20 {% endif %}">
            <a href="">
                <button>Редактировать</button>
            </a>
            {% if post.is_public %}
            <a href="">
                <button>Отозвать новость</button>
            </a>
            {% else %}
            <a href="">
                <button>Опубликовать новость</button>
            </a>
            {% endif %}
            <a href="">
                <button class="btn-delete">Удалить новость</button>
            </a>
        </div>
        {% endif %}
        {% if post.is_public %}
        <hr class="hr-line">
        <div class="comments">
            <h2>Комментарий: {{ comment_count }}</h2>
            {% if request.user.is_authenticated %}
            <form class="form" action="{% url 'post' post.slug %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input class="btn btn--sub btn--lg" type="submit" value="Comments"/>
            </form>
            {% endif %}
            {% if comment %}
            {% endif %}
        </div>
        {% endif %}
    </section>
</main>
{% endblock %}