{% extends 'main_page/base.html' %}

{% block content %}
<main class="content post_style">
    <section class="wrap_post {% if not post.image %} ptb-30 {% endif %}">
        {% if post.image %}
        <img class="preview_img" src="{{ post.image.url }}" alt="post_image">
        <div class="{% for l in post.line.all %}{% if forloop.first and forloop.last %}
        line_parent {% elif forloop.first %} lines_parent {% endif %}{% endfor %}">
        {% for l in post.line.all|slice:"10" %}
        {% if forloop.first and forloop.last %}
            <div class="line" style="background: {{ l.color }};"></div>
            <a href="{{ l.get_absolute_url }}">
                <div class="circle circle_a" style="background: {{ l.color }}">
                    <p style="color: {{ l.color_text }};">{{ l.number }}</p>
                </div>
            </a>
        {% else %}
        <a href="{{ l.get_absolute_url }}">
            <div class="multi_line_post {% if forloop.first %} blr-20 {% elif forloop.last %} brr-20 {% endif %}"
                 style="background: {{ l.color }}; --mlph: {{ l.color }}80;">
                <p style="color: {{ l.color_text }};">{{ l.number }}</p>
            </div>
        </a>
        {% endif %}
        {% endfor %}
        </div>
        {% else %}
        <div class="{% for l in post.line.all %}{% if forloop.first and forloop.last %}
        line_parent {% elif forloop.first %} lines_parent {% endif %}{% endfor %}">
        {% for l in post.line.all|slice:"10" %}
        {% if forloop.first and forloop.last %}
            <div class="line" style="background: {{ l.color }};"></div>
            <a href="{{ l.get_absolute_url }}">
                <div class="circle circle_a" style="background: {{ l.color }}">
                    <p style="color: {{ l.color_text }};">{{ l.number }}</p>
                </div>
            </a>
        {% else %}
        <a href="{{ l.get_absolute_url }}">
            <div class="multi_line_post {% if forloop.first %} blr-20 {% elif forloop.last %} brr-20 {% endif %}"
                 style="background: {{ l.color }}; --mlph: {{ l.color }}80;">
                <p style="color: {{ l.color_text }};">{{ l.number }}</p>
            </div>
        </a>
        {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        <div class="wrap_text">
            <h1>{{ post.title }}</h1>
            <div class="post">
                <p> {{ post.content | safe | linebreaksbr }}</p>
            </div>
            <div class="date_post">
                {% if post.source %}
                <a href="{{ post.source }}" target="_blank" class="date_source">
                    <span class="to_black">Ссылка на источник:</span>
                </a>
                {% endif %}
                <a href="{% url 'user_profile' post.owner.id %}">
                    <span class="to_black">{{ post.owner.username }}</span>
                </a>
                <span>{{ post.time_update }}</span>
            </div>
        </div>
        {% if request.user.is_staff or post.owner == request.user %}
        <hr class="hr-line">
        <div class="post-settings {% if not post.is_public %} pb-20 {% endif %}">
            <a href="{% url 'update_post' post.slug %}">
                <button>Редактировать</button>
            </a>
            <a href="{% url 'delete_post' post.slug %}">
                <button class="btn-delete">Удалить новость</button>
            </a>
        </div>
        {% endif %}
    </section>
</main>
{% endblock %}