{% extends 'main_page/base.html' %}

{% block content %}
<main class="content">
    <section class="wrap">
        <div class="line_parent">
            <div class="line"
                 style="background: linear-gradient(90deg, rgba(0,0,0,0) 0%, {{ post.line.color }} 10%, {{ post.line.color }} 90%, rgba(0,0,0,0) 100%);"></div>
            <a href="#">
                <div class="circle" style="background: {{ post.line.color }}">
                    <p>{{ post.line.number }}</p>
                </div>
            </a>
        </div>
        <h1>{{ post.title }}</h1>
        <div class="post">
            <img src="{{ post.image.url }}" alt="post_image">
            <p> {{ post.content | linebreaksbr }}</p>
        </div>
        <div class="date_post">
            <span>{{ p.time_update }}</span>
        </div>
    </section>
</main>
{% endblock %}