{% extends 'main_page/base.html' %}

{% block content %}
<main class="content">
    <div class="wrap">
        <h1>{{ title }}</h1>
        <form class="w-100" method="post">
            {% csrf_token %}
            {{ form.media }}
            {% for f in form %}
                <p class="{% if f.label == 'Статус' or f.label == 'Путь к предыдущей станций' or f.label == 'Путь к следующей станций' %} line-creator {% endif %}"><label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>{{ f }}</p>
                    {% if f.errors %}
                        <div class="form-error">{{ f.errors }}</div>
                    {% endif %}
            {% endfor %}
            <button>Добавить</button>
        </form>
    </div>
</main>
{% endblock %}